.list {
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
    height: 100vh;
    padding: 0 10px;
}

.item {
    cursor: pointer;
    color: #008cff;
    padding-top: 5px;
}
